@using BlazorDemo.Common.Extensions.Collections

@inherits DisplayEmployeeBase

<div class="col-lg-4 col-md-6 col-12">
    <div class="card">
        <div class="card-header">
            <label class="my-checkbox-container">
                <input type="checkbox" id="@SelectEmployeeCheckBoxId" checked="@IsEmployeeSelected" @onchange="@CbSelectEmployee_ChangedAsync" />
                <span class="my-checkmark"></span>
                <h3 class="my-checkbox-label" for="@SelectEmployeeCheckBoxId">@Employee.FirstName @Employee.LastName</h3>
            </label>
        </div>
        <img class="card-img-top image-thumbnail" src="@Employee.PhotoPath" asp-append-version="true" />
        @if (ShowFooter)
        {
            <div class="card-footer">
                <div class="container">
                    <div class="row p-5px justify-content-center">
                        <div class="col-xl-4 col-lg-6 col-12">
                            <CustomButton Styling="ButtonStyling.Primary" ButtonState="EmployeeListContext.BtnEmployeeDetailsStates.VorN(Employee.Id)" OnClick="@BtnEmployeeDetails_ClickAsync">View</CustomButton>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-12">
                            <CustomButton Styling="ButtonStyling.Primary" ButtonState="EmployeeListContext.BtnEditEmployeeStates.VorN(Employee.Id)" OnClick="@BtnEditEmployee_ClickAsync">Edit</CustomButton>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-12">
                            <CustomButton Styling="ButtonStyling.Danger" ButtonState="EmployeeListContext.BtnDeleteEmployeeStates.VorN(Employee.Id)" OnClick="@BtnDelete_ClickAsync">Delete</CustomButton>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
