<div class="row">
    <div class="col-lg-4 col-md-6 col-12">
        <input id="firstName" class="form-control" @attributes="@InputAttributes" value="@Value" />
    </div>
</div>

@code {
    [Parameter]
    public Dictionary<string, object> InputAttributes { get; set; } = new Dictionary<string, object>
    {
        { "required", "required" },
        { "placeholder", "Child Component Placeholder" },
        { "size", "100" },
        { "maxlength", "15" }
    };

    [Parameter]
    public string Value { get; set; } = "Child Value";
}

@*<div class="row">
    <div class="col-lg-4 col-md-6 col-12">
        <input id="firstName" class="form-control" required="@Required" maxlength="@Maxlength" size="@Size" placeholder="@Placeholder" />
    </div>
</div>

@code {
    [Parameter]
    public string Required { get; set; } = "required";

    [Parameter]
    public string Maxlength { get; set; } = "15";

    [Parameter]
    public string Size { get; set; } = "25";

    [Parameter]
    public string Placeholder { get; set; } = "Child Component Placeholder";
}*@
