@page "/account/resetpassword/"

@using BlazorDemo.Common.Extensions
@using BlazorDemo.Common.Models.Account.ViewModels
@inherits ResetPasswordBase

<EditForm EditContext="EditContext" OnValidSubmit="@FormResetPassword_ValidSubmitAsync">
    <CustomDataAnnotationsValidator @ref="_validator" />
    <div class="row">
        <div class="col-12">
            <h3>Reset Password</h3>
            <hr class="mt-10px" />
        </div>
    </div>
    <div class="row">
        <div class="col-xl-2 col-lg-3 col-sm-6 col-12">
            <label for="inputUserName" class="col-form-label">@($"{ResetPasswordUserVM.GetDisplayName(nameof(ResetPasswordUserVM.UserName))}:")</label>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
            <InputText disabled @bind-Value="ResetPasswordUserVM.UserName" id="inputUserName" class="form-control" placeholder="@($"{ResetPasswordUserVM.GetDisplayName(nameof(ResetPasswordUserVM.UserName))}...")" />
        </div>
        <div class="col-xl-7 col-lg-5 col-12 d-none-if-empty">
            <CustomValidationMessage For="@(() => ResetPasswordUserVM.UserName)" class="validation-message-inline-from-lg"></CustomValidationMessage>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-2 col-lg-3 col-sm-6 col-12">
            <label for="inputEmail" class="col-form-label">@($"{ResetPasswordUserVM.GetDisplayName(nameof(ResetPasswordUserVM.Email))}:")</label>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
            <InputText disabled @bind-Value="ResetPasswordUserVM.Email" id="inputEmail" class="form-control" placeholder="@($"{ResetPasswordUserVM.GetDisplayName(nameof(ResetPasswordUserVM.Email))}...")" />
        </div>
        <div class="col-xl-7 col-lg-5 col-12 d-none-if-empty">
            <CustomValidationMessage For="@(() => ResetPasswordUserVM.Email)" class="validation-message-inline-from-lg"></CustomValidationMessage>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-2 col-lg-3 col-sm-6 col-12">
            <label for="inputResetPasswordCode" class="col-form-label">@($"{ResetPasswordUserVM.GetDisplayName(nameof(ResetPasswordUserVM.ResetPasswordCode))}:")</label>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
            <InputText @bind-Value="ResetPasswordUserVM.ResetPasswordCode" id="inputResetPasswordCode" class="form-control" placeholder="@($"{ResetPasswordUserVM.GetDisplayName(nameof(ResetPasswordUserVM.ResetPasswordCode))}...")" />
        </div>
        <div class="col-xl-7 col-lg-5 col-12 d-none-if-empty">
            <CustomValidationMessage For="@(() => ResetPasswordUserVM.ResetPasswordCode)" class="validation-message-inline-from-lg"></CustomValidationMessage>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-2 col-lg-3 col-sm-6 col-12">
            <label for="inputPassword" class="col-form-label">@($"{ResetPasswordUserVM.GetDisplayName(nameof(ResetPasswordUserVM.Password))}:")</label>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
            <InputText type="password" @bind-Value="ResetPasswordUserVM.Password" id="inputPassword" class="form-control" placeholder="@($"{ResetPasswordUserVM.GetDisplayName(nameof(ResetPasswordUserVM.Password))}...")" />
        </div>
        <div class="col-xl-7 col-lg-5 col-12 d-none-if-empty">
            <CustomValidationMessage For="@(() => ResetPasswordUserVM.Password)" class="validation-message-inline-from-lg"></CustomValidationMessage>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-2 col-lg-3 col-sm-6 col-12">
            <label for="inputConfirmPassword" class="col-form-label">@($"{ResetPasswordUserVM.GetDisplayName(nameof(ResetPasswordUserVM.ConfirmPassword))}:")</label>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
            <InputText type="password" @bind-Value="ResetPasswordUserVM.ConfirmPassword" id="inputConfirmPassword" class="form-control" placeholder="@($"{ResetPasswordUserVM.GetDisplayName(nameof(ResetPasswordUserVM.ConfirmPassword))}...")" />
        </div>
        <div class="col-xl-7 col-lg-5 col-12 d-none-if-empty">
            <CustomValidationMessage For="@(() => ResetPasswordUserVM.ConfirmPassword)" class="validation-message-inline-from-lg"></CustomValidationMessage>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-2 col-lg-3 col-sm-5 col-12 offset-xl-2 offset-lg-3">
            <CustomButton Styling="ButtonStyling.Primary" ButtonState="_btnChangePasswordState">Change Password</CustomButton>
        </div>
    </div>
</EditForm>